main{
    max-width: 600px;
    min-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
main button{
    width: fit-content;
}
[id^="formDiv"]{
    display: flex;
    flex-direction: column;
}
.ButtonHolder{
    width: 90%;
}
#SkillFields{
    display: flex;
    flex-direction: column;
}
#input {
    width: 30%;
}